@tailwind base;
@tailwind components;
/* Material TextField */

.material-input-container {
  @apply relative inline-block h-12;
}

.material-input-icon {
  top: 50%;
  /* Moves the element 50% from the top i.e. the parent container */
  transform: translateY(-50%);
  /* Move the element based on 50% of it's height */
  @apply absolute h-5 w-5;
}

.material-input-icon-start {
  @apply left-0 mx-3;
}

.material-input-icon-end {
  @apply right-0 mx-2;
}

.material-input {
  @apply bg-gray-200 w-full h-full rounded-b-none rounded-t-md px-3 pt-2 border-b border-black;
}

.material-input-with-icon-start .material-input {
  @apply pl-10;
}

.material-input-with-icon-end .material-input {
  @apply pr-10;
}

.material-input:hover {
  @apply bg-gray-300;
}

.material-input:focus {
  @apply outline-none bg-gray-400;
}

.material-input-label-inner {
  @apply origin-top-left duration-150;
}

.material-input:focus+.material-input-label .material-input-label-inner {
  @apply text-purple-600 transform -translate-y-3 scale-75 duration-150;
}

.material-input:valid+.material-input-label .material-input-label-inner {
  @apply transform -translate-y-3 scale-75 duration-150;
}

.material-input-label {
  @apply absolute left-0 top-0 w-full h-full flex items-center pointer-events-none px-3;
}

.material-input-with-icon-start .material-input-label {
  @apply pl-10;
}

.material-input-with-icon-end .material-input-label {
  @apply pr-10;
}

.material-input-border {
  height: 2px;
  @apply absolute w-full bottom-0 bg-purple-500 transform scale-x-0 opacity-0 duration-150;
}

.material-input:focus~.material-input-border {
  @apply transform scale-x-100 opacity-100 duration-150;
}

/* End Material TextField */

/* Material Button */

.material-button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 0.25rem;
}

.material-button:focus {
  outline: 0;
}

.material-button-text {
  background-color: transparent;
  --text-opacity: 1;
  color: #004ba0;
  color: rgba(0, 75, 160, var(--text-opacity));
}

.material-button-text:hover {
  --bg-opacity: 1;
  background-color: #eeffff;
  background-color: rgba(238, 255, 255, var(--bg-opacity));
}

.material-button-text:focus {
  --bg-opacity: 1;
  background-color: #bbdefb;
  background-color: rgba(187, 222, 251, var(--bg-opacity));
}

.material-button-text:active {
  --bg-opacity: 1;
  background-color: #8aacc8;
  background-color: rgba(138, 172, 200, var(--bg-opacity));
}

.material-button-outline {
  border-width: 1px;
  --border-opacity: 1;
  border-color: #004ba0;
  border-color: rgba(0, 75, 160, var(--border-opacity));
  --text-opacity: 1;
  color: #004ba0;
  color: rgba(0, 75, 160, var(--text-opacity));
}

.material-button-outline:hover {
  --bg-opacity: 1;
  background-color: #eeffff;
  background-color: rgba(238, 255, 255, var(--bg-opacity));
}

.material-button-outline:focus {
  --bg-opacity: 1;
  background-color: #bbdefb;
  background-color: rgba(187, 222, 251, var(--bg-opacity));
}

.material-button-outline:active {
  --bg-opacity: 1;
  background-color: #8aacc8;
  background-color: rgba(138, 172, 200, var(--bg-opacity));
}

.material-button-contained {
  --bg-opacity: 1;
  background-color: #1976d2;
  background-color: rgba(25, 118, 210, var(--bg-opacity));
  --text-opacity: 1;
  color: #ffffff;
  color: rgba(255, 255, 255, var(--text-opacity));
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.material-button-contained:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  --bg-opacity: 1;
  background-color: #004ba0;
  background-color: rgba(0, 75, 160, var(--bg-opacity));
}

.material-button-contained:active {
  --bg-opacity: 1;
  background-color: #63a4ff;
  background-color: rgba(99, 164, 255, var(--bg-opacity));
}

/* End Material Button */

.signup-form {
  animation-name: bottom-popup;
  animation-duration: 1s;
}

@screen md {
  .signup-form {
    animation-duration: 0s;
  }
}

@keyframes bottom-popup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@tailwind utilities;